@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$font-family: 'Open Sans', sans-serif;
$color-primary: #091b26;
$color-secundary: #122a37;
$color-3: #485966;
$color-text: #fff;


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

*:focus {
  outline: none; }

@mixin transition(){
	transition: all .3s ease-in;
}
body {
	font-family: $font-family;
	background-color: $color-primary;
	color: $color-text;
	margin: 0;
	padding: 0;
	font-size: 0;
}

a {
	color: $color-text;
	text-decoration: none;
	display: inline-block;
	@include transition();
	&:hover, &:focus {
		color: #0ff;
		text-decoration: none;
	}
}
.col-centered{
	float: none;
	margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}
p {
	font-size: 14px;
	color: $color-text;
}
main {
	padding: 20px;
}

table {
	width: 100%;
	thead {
		background-color: $color-primary;
	}
	tr {
		td {
			font-size: 15px;
			background-color: transparent;
			color: #485966;
			border: 1px solid #485966;
			padding: 5px;
			&:last-child {
				width: 30%;
			}
		}
		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.menu {
	li {
		display: block;
		font-size: 20px;
		padding: 30px 0;
		text-align: center;
		@include transition();
		&:hover, &.ativo {
			background-color: #061d2a;
			border-left: 4px solid #276aa2;
			cursor: pointer;
		}
		a {
			color: $color-3;
			img {
				display: inline-block;
			}
			span {
				display: block;
			}
		}
	}
}
.row {
	margin: 0;
}
.box {
	background-color: $color-secundary;
	padding: 20px;
	border-radius: 20px;
	color: $color-text;
	margin-bottom: 30px;
}
.content {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 160px);
}
#lateral-menu-bar {
	display: inline-block;
	background-color: $color-secundary;
	width: 160px;
}

#top-nav {
	background-color: $color-secundary;
	padding: 25px;
	width: 100%;
	font-size: 16px;
	.informations {
		img {
			border-radius: 50%;
			max-width: 50px;
			margin-right: 10px;
		}
	}
}
.terms-end {
	background-color: $color-primary;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	label {
		font-weight: 400;
	}
	#terms-check {
		margin-right: 30px;
	}
}
// Login Page
.login-page {
	background-image: url('images/bg-login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	form {
		background: linear-gradient(to right, #1959a8 0%, rgba(0, 184, 255, 0.5) 100%);
		display: inline-block;
		font-size: 16px;
		margin-top: 200px;
		margin-left: 33%;
		padding: 30px;
		border: 1px solid #fff;
		border-radius: 20px;
		h1 {
			font-size: 20px;
			text-align: center;
		}
		input {
			background-color: #003e60cc;
			padding: 5px 10px;
			border: 0;
			font-size: 16px;
			margin-bottom: 20px;
			border-radius: 10px;
			width: 100%;
			&:placeholder {
				color: #183a4d;
			}
		}
		button {
			padding: 5px 20px;
			background: linear-gradient(to right, #1b1b9b, #18cbbe);
			border: 0;
			border-radius: 20px;
			@include transition();
			&:hover {
				opacity: 0.5;
			}
		}
		a {
			margin-left: 30px;
		}
	}
}


// Cadastrar Empresa
.cadastrar-empresa {
	input {
		font-size: 16px;
		padding: 10px;
		border-radius: 20px;
		background-color: $color-primary;
		border: 0;
		color: #fff;
		margin: 0 10px 10px 0;
	}
	button {
		margin-top: 30px;
		color: $color-text;
		padding: 5px 20px;
		background: linear-gradient(to right, #1b1b9b, #18cbbe);
		border: 0;
		border-radius: 20px;
		font-size: 15px;
		@include transition();
		&:hover {
			opacity: 0.5;
		}
	}
	h3 {
		color: $color-text;
		text-align: center;
	}
	#terms {
		p {
			max-height: 500px;
			overflow: scroll;
		}
	}
}