@import
	url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
	;

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

*:focus {
	outline: none;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: #091b26;
	color: #fff;
	margin: 0;
	padding: 0;

}

a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	transition: all .3s ease-in;
}

a:hover, a:focus {
	color: #0ff;
	text-decoration: none;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

p {
	font-size: 14px;
	color: #fff;
}

main {
	padding: 20px;
}

table {
	width: 100%;
}

table thead {
	background-color: #091b26;
}

table tr td {
	font-size: 15px;
	background-color: transparent;
	color: #485966;
	border: 1px solid #485966;
	padding: 5px;
}

table tr td:last-child {
	width: 30%;
}

table tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.menu li {
	display: block;
	font-size: 20px;
	padding: 30px 0;
	text-align: center;
	transition: all .3s ease-in;
}

.menu li:hover, .menu li.ativo {
	background-color: #061d2a;
	border-left: 4px solid #276aa2;
	cursor: pointer;
}

.menu li a {
	color: #485966;
}

.menu li a img {
	display: inline-block;
}

.menu li a span {
	display: block;
}

.row {
	margin: 0;
}

.box {
	background-color: #122a37;
	padding: 20px;
	border-radius: 20px;
	color: #fff;
	margin-bottom: 30px;
}

.content {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 160px);
}

#lateral-menu-bar {
	display: inline-block;
	background-color: #122a37;
	width: 160px;
}

#top-nav {
	background-color: #122a37;
	padding: 25px;
	width: 100%;
	font-size: 16px;
}

#top-nav .informations img {
	border-radius: 50%;
	max-width: 50px;
	margin-right: 10px;
}

.terms-end {
	background-color: #091b26;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.terms-end label {
	font-weight: 400;
}

.terms-end #terms-check {
	margin-right: 30px;
}

.login-page {
	background-image: url("images/bg-login.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.login-page form {
	background: linear-gradient(to right, #1959a8 0%, rgba(0, 184, 255, 0.5)
		100%);
	display: inline-block;
	font-size: 16px;
	margin-top: 200px;
	margin-left: 33%;
	padding: 30px;
	border: 1px solid #fff;
	border-radius: 20px;
}

.login-page form h1 {
	font-size: 20px;
	text-align: center;
}

.login-page form input {
	background-color: #003e60cc;
	padding: 5px 10px;
	border: 0;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 100%;
}

.login-page form input:placeholder {
	color: #183a4d;
}

.login-page form button {
	padding: 5px 20px;
	background: linear-gradient(to right, #1b1b9b, #18cbbe);
	border: 0;
	border-radius: 20px;
	transition: all .3s ease-in;
}

.login-page form button:hover {
	opacity: 0.5;
}

.login-page form a {
	margin-left: 30px;
}

.cadastrar-empresa input {
	font-size: 16px;
	padding: 10px;
	border-radius: 20px;
	background-color: #091b26;
	border: 0;
	color: #fff;
	margin: 0 10px 10px 0;
}

.cadastrar-empresa button {
	margin-top: 30px;
	color: #fff;
	padding: 5px 20px;
	background: linear-gradient(to right, #1b1b9b, #18cbbe);
	border: 0;
	border-radius: 20px;
	font-size: 15px;
	transition: all .3s ease-in;
}

.cadastrar-empresa button:hover {
	opacity: 0.5;
}

.cadastrar-empresa h3 {
	color: #fff;
	text-align: center;
}

.cadastrar-empresa #terms p {
	max-height: 500px;
	overflow: scroll;
}